h2{
    margin: auto;
    margin-bottom: 20px;
    width: 10%;
}
.input-view{
    margin: auto;
    margin-bottom: 20px;
    width: 600px;
}
.maze-view{
    margin: auto;
    margin-bottom: 20px;
    width: 900px;
}